input {
    border-top: none;
    border-left: none;
    border-right: none;    
}

input:focus {
    outline: none;
}

input:focus ~ .placeholder-label,
input:not(:focus):valid ~ .placeholder-label{
  top: 150px;
  bottom: 10px;
  left: 0px;
  font-size: 11px;
  opacity: 1;
}

.placeholder-label {
  position: absolute;
  pointer-events: none;
  left: 0px;
  transition: 0.2s ease all;
}

.error-empty {
    border-color: #ff0000;
    transition: 0.8s ease all;
    
}

.error-empty ~ .placeholder-label {
    color:#ff0000;
}